<!-- Row 1 -->
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <!-- Jumbotron -->
        <div class="jumbotron">
            <h1 class="display-4">Dictionary Scrapper</h1>
            <p class="lead">Let's scrape a dictionary</p>
            <hr class="my-4">
            <p>Wooo HOOOOO!</p>
            <a class="btn btn-danger btn-lg" role="button" id="scrape-btn">Scrape</a>
            <a class="btn btn-success btn-lg" role="button" id="view-btn" href="/dictionary">View All</a>
            <a class="btn btn-warning btn-lg" role="button" id="save-all-btn" href="/saved">Saved</a>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
{{!-- Row 2 --}}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Link</th>
          <th scope="col">Content</th>
        </tr>
      </thead>
      <tbody id="savedItems">
        {{#each result}}
        <tr>
          <td>{{title}}</td>
          <td>{{link}}</td>
          <td>{{content}}</td>
          <td><button type="button" class="btn btn-danger" id="del-btn" data-id={{_id}}>Delete</button></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="col-md-2"></div>
</div>